[submodule "Banco"]
	path = Server/sub-modules/Banco
	url = https://github.com/dabl03/Banco
[submodule "Server/sub-modules/SimpleServerHTTP"]
	path = Server/sub-modules/SimpleServerHTTP
	url = https://github.com/dabl03/SimpleServerHTTP
